@charset "UTF-8";
.img_box{
	width: 100%;
	max-width: 600px;
	max-height: 400px;
	margin: 0 auto;
	background-color: #e0e0e0;
	border-radius: 8px;
	overflow: hidden;
	padding: 10px;
}
.img_box img{
	width: 100%;
	height: auto;
	object-fit: cover;
	border-radius: 8px;	
}