@charset "UTF-8";
.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}
header{
	display: flex;
}
.nav-item{
	font-size: 22px;
	font-weight: bold;
}
.photo-box{
	display: flex;
	gap: 20px;
	flex-wrap: wrap;
	align-content: center;
	justify-content: space-around;
	margin-top: 10px;
}
.photo-box div{
	text-align: center;
}
.photo-box img{
	width: 250px;
	height: 250px;
	object-fit: cover;
	border-radius: 8px;
	display: block;
	margin: 0 auto 10px auto;
}